<div class="container" data-user-id={{user_id}}>
  <h1 class="display-2">Your Dashboard</h1>
  <button class="btn btn-primary" id="new-post">New Post</button>
</div>

<div id="dashboard-posts" class="container">
  {{#each posts as |post|}}
    <div class="card my-3" data-post="{{to_json post}}">
      <div
        class="card-header d-flex justify-content-between align-items-center"
      >
        <h5 class="card-title">{{post.title}}</h5>
        <h5 class="card-title">{{format_date post.createdOn}}</h5>
      </div>
    </div>
  {{/each}}
</div>

<form id="form-post" class="container visually-hidden">
  <div class="card my-3">
    <div class="card-header d-flex justify-content-between">
      <h5 class="card-title">Create New/Edit Post</h5>
      <button class="btn btn-close"></button>
    </div>
    <div class="card-body">
      <div class="mb-3">
        <label for="post-title" class="form-label">Title</label>
        <input type="text" class="form-control" id="post-title" required />
      </div>
      <div class="mb-3">
        <label for="post-content" class="form-label">Content</label>
        <br />
        <textarea
          class="form-control"
          id="post-content"
          rows="3"
          required
        ></textarea>
      </div>
      <div class="d-grid mb-3">
        <button class="btn btn-primary mb-1" id="create-post">Create</button>
        <button class="btn btn-primary mb-1" id="update-post">Update Post</button>
        <button class="btn btn-danger mb-1" id="delete-post">Delete</button>
      </div>
    </div>
  </div>
</form>

<script src="./js/dashboard.js"></script>